* {
    padding: 0;
    margin: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #5D5C61;
    Height: 100px;
    position: fixed;
    width: 100%;
}
.logo {
    width: 100px;
    border-radius: 30px;
}
.principal-nav {
    display: flex;
}

.principal-nav li {
    padding-left: 100px;
    list-style: none;
}
.logo {
    padding-left: 100px;
}